<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="secondary">
      <ion-button>
        <ion-icon slot="icon-only" name="share-social-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Review Tasks</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-list>
    <ion-item color="success" *ngFor="let item of items;index as i;let c of condition;" button (click)="info(item)">
      <ion-avatar slot="start">
        <img src={{item[1]}}>
      </ion-avatar>
      <ion-label>
        <ion-text>
          <font color="black">
          <h2><b>{{item[2]}}</b> </h2>
          <p> {{item[3]}}</p>
          </font>
        </ion-text>
        
      </ion-label>
      <ion-badge color="success"><font color="black">{{item[4]}}</font></ion-badge>

    </ion-item>
  </ion-list>
  </ion-content>
